body {
	background: black;
	height: 100vh;
	font-family: sans-serif;
	justify-content: center;
}
main {
	display: flex;
	align-items: center;
}
.sites {
	background-color: #2d2d2dff;
	border-radius: 50px;
	height: 80vh;
}
.code {
	background-color: #2d2d2dff;
	border-radius: 50px;
}
.code {
	width: 60%;
	margin: 20px;
}
.height {
	height: 80vh;
	padding-top: 20px;
}
.sites {
	width: 30%;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.sites ul {
	list-style-type: '>>';
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	width: 100%;
	text-decoration: underline;
}
a {
	color: white;
	text-decoration: none;
}
li {
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
	width: 60%;
	margin-left: 10px;
}
li::marker {
	padding-right: 10px;
}
ul a:hover {
	font-weight: bold;
	cursor: pointer;
}
pre {
	color: white;
	max-width: 100%;
	white-space: pre-wrap;
	margin-left: 5vw;
}
.purple {
	color: #c678dd;
}
.yellow {
	color: #e5c07b;
}
.red {
	color: #e06c75;
}
.blue {
	color: #61afef;
}
.green {
	color: #98c379;
}
.code {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.code img {
	width: 100%;
	border-radius: 25px;
}
a:active {
	color: white;
}
a:hover {
	color: lightgrey;
}
.headingclass {
	margin: 0px !important;
	padding: 0px;
	height: calc(100% - 56px);
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-item {
	margin-bottom: 0px !important;
	padding: 0px !important;
}
.navbar-brand {
	margin-left: 10px;
}
main {
	height: calc(100vh - 110px) !important;
}
.btn {
	color: black;
	background-color: white;
}
footer {
	display: flex;
	justify-content: center;
}
.typewriter {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
	  typing 3s steps(90),
	  blink-caret .5s infinite;
	display: inline-block;
  }
  
  /* The typing effect */
  @keyframes typing {
	from { width: 0 }
	to { width: 70% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: orange; }
  }

input {
	margin-bottom: 15px;
	background-color: black;
	color: white;
	border-radius: 7px;
	border: none;
	padding: 10px;
	width: 100%;
	text-align: center;
}
.submit-form {
	width: 80%;
}
.sites {
	padding-top: 10px;
	color: white;
}
.pre-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}